services:
  backend:
    build: ./backend
    env_file:
      - ./.env
    restart: always

  # The Nginx service now IS your frontend
  nginx:
    build:
      context: ./frontend
      target: production # This triggers Stage 3 of your Dockerfile
    container_name: www-nginx-1
    ports:
      - '80:80'
    volumes:
      # Mount only the configuration, NOT the html/dist folder
      - ./nginx/default.prod.conf:/etc/nginx/conf.d/default.conf:ro
    depends_on:
      - backend
    restart: always
