services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - /app/node_modules # Prevents local modules from overwriting container modules
    env_file:
      - ./.env
    restart: always

  frontend:
    build:
      context: ./frontend
      target: development
    command: npm run dev -- --host 0.0.0.0
    ports:
      - '5173:5173'
    volumes:
      - ./frontend:/app
      - /app/node_modules
    env_file:
      - ./.env

  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx/default.prod.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
