services:
  backend:
    build: ./backend
    volumes:
      - ./backend:/app
      - /app/node_modules # Prevents local modules from overwriting container modules
    env_file:
      - ./.env
    restart: always

  frontend:
    build:
      context: ./frontend
      target: production
    volumes:
      - ./frontend/dist:/app/dist
      - /app/node_modules
    env_file:
      - ./.env

  nginx:
    image: nginx:alpine
    ports:
      - '80:80'
    volumes:
      - ./nginx/default.prod.conf:/etc/nginx/conf.d/default.conf
    depends_on:
      - frontend
      - backend
