@import 'tailwindcss';

@theme {
  --color-brand-primary: #18181b;
}

@layer base {
  html {
    overflow-y: scroll;
  }

  body {
    /* Default light mode */
    @apply bg-slate-50 text-slate-900 transition-colors duration-300 antialiased;
  }

  /* Explicitly target the body when .dark is present on html */
  .dark body {
    @apply bg-zinc-950 text-zinc-50;
  }
}
